<!doctype html>
<html>
  <head>
    <title>News Archiver</title>
  </head>
  <body>
    <h1>CNN Data</h1>
    <ul>
      <% cnnData.forEach(function(thing) { %>
        <span><%= thing.date%></span>
        <a href=<%= thing.link %>><span><%= thing.headline %></span></a>
        <br>
      <% }) %>
    </ul>
  </body>
</html>
